<div class="container-fluid login-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding-bottom: 2cm;">
  <div class="container">
      <!-- <h1 class="display-3 mb-4 animated slideInDown">Login</h1> -->
  </div>
</div>
<div class="container" style="text-align: center;">
  <hr>
  <h3>Welcome <span style="color : red;">{{ agentName }}</span></h3>
  <hr>
</div>

 <!-- Service Start -->
 <div class="container-xxl service py-5" id="service">
  <div class="container">
      <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
          <p class="d-inline-block border rounded text-primary fw-semi-bold py-1 px-3">Agent Services</p>
          <h1 class="display-5 mb-5">Basic Services</h1>
      </div>
      <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
          <div class="col-lg-4">
              <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                  <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                      <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Client Policies</h5>
                  </button>
                  <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                      <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Categorize Client Policies</h5>
                  </button>
                  <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                      <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Views</h5>
                  </button>
                  <button class="nav-link w-100 d-flex align-items-center text-start border p-4 mb-0" data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                      <h5 class="m-0"><i class="fa fa-bars text-primary me-3"></i>Reports</h5>
                  </button>
              </div>
          </div>
          <div class="col-lg-8">
              <div class="tab-content w-100">
                  <div class="tab-pane fade show active" id="tab-pane-1">
                      <div class="row g-4">
                          <div class="col-md-6" style="min-height: 350px;">
                              <div class="position-relative h-100">
                                  <img class="position-absolute rounded w-100 h-100" src="assets/img/service-1.jpg"
                                      style="object-fit: cover;" alt="">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <h3 class="mb-4">Client Policies</h3>
                              <p class="mb-4">View and Manage Client Policies</p>
                              <a routerLink="/Agent/ClientPolicies" class="btn btn-primary py-3 px-5 mt-3">Manage Clients</a>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="tab-pane-2">
                      <div class="row g-4">
                          <div class="col-md-6" style="min-height: 350px;">
                              <div class="position-relative h-100">
                                  <img class="position-absolute rounded w-100 h-100" src="assets/img/service-2.jpg"
                                      style="object-fit: cover;" alt="">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <h3 class="mb-4">Categorize Policies</h3>
                              <p class="mb-4">Here Agent Can View And Manage Different Client Policies.</p>
                              <a routerLink="/Agent/Category" class="btn btn-primary py-3 px-5 mt-3">View List</a>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="tab-pane-3">
                      <div class="row g-4">
                          <div class="col-md-6" style="min-height: 350px;">
                              <div class="position-relative h-100">
                                  <img class="position-absolute rounded w-100 h-100" src="assets/img/service-3.jpg"
                                      style="object-fit: cover;" alt="">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <h3 class="mb-4">Views</h3>
                              <p class="mb-4">Here Agent Can View Other Actors</p>
                              <a routerLink="/Agent/View" class="btn btn-primary py-3 px-5 mt-3">Take Me There</a>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="tab-pane-4">
                      <div class="row g-4">
                          <div class="col-md-6" style="min-height: 350px;">
                              <div class="position-relative h-100">
                                  <img class="position-absolute rounded w-100 h-100" src="assets/img/service-4.jpg"
                                      style="object-fit: cover;" alt="">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <h3 class="mb-4">Reports</h3>
                              <p class="mb-4">Here Agent Can Generate Reports</p>
                              <a routerLink="/Reports" class="btn btn-primary py-3 px-5 mt-3">Take Me There</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Service End -->
