<!-- Page Header Start -->
<div class="container-fluid login-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding-bottom: 4cm;">
    <div class="container" id="filter">
     
    </div>
</div>
<div class="flex flex-col items-center py-16 bg-gray-100">
<ul id="filter4" class="filter-switch inline-flex items-center relative h-10 p-1 space-x-1 bg-gray-300 rounded-md font-semibold text-blue-600 my-4">
  <li class="filter-switch-item flex relative h-8 bg-gray-300x">
    <input type="radio" name="filter4" id="filter4-0" class="sr-only" checked>
    <label for="filter4-0" class="h-8 py-1 px-2 text-sm leading-6 text-gray-600 hover:text-gray-800 bg-white rounded shadow">
      Agent
    </label>
    <div aria-hidden="true" class="filter-active"></div>
  </li>
  <li class="filter-switch-item flex relative h-8 bg-gray-300x">
    <input type="radio" name="filter4" id="filter4-1" class="sr-only">
    <label for="filter4-1" class="h-8 py-1 px-2 text-sm leading-6 text-gray-600 hover:text-gray-800 bg-white rounded shadow">
      Company
    </label>
  </li>
</ul>
</div>
<!-- Page Header End -->

    <!-- Callback Start 
    <div class="container-fluid callback my-5 pt-5" id="callback">
        <div class="container pt-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="bg-white border rounded p-4 p-sm-5 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                            
                            <h1 class="display-5 mb-5">Login</h1>
                        </div>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="mail" placeholder="Your Email">
                                    <label for="mail">Your Email</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="mobile" placeholder="Your Mobile">
                                    <label for="mobile">Your Mobile</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="Address" style="height: 100px"></textarea>
                                    <label for="message">Address</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary w-100 py-3" type="submit">Login</button> 
                                 (click)="clicked()" 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     Callback End -->

     
        <form  action="#" class="form">
          <h1 class="text-center">Registration Form</h1>
          <!-- Progress bar -->
          <div class="progressbar">
            <div class="progress" id="progress"></div>
            
            <div
              class="progress-step progress-step-active"
              data-title="Intro"
            ></div>
            <div class="progress-step" data-title="Contact"></div>
            <div class="progress-step" data-title="ID"></div>
            <div class="progress-step" data-title="Password"></div>
          </div>
    
          <!-- Steps -->
          <div class="form-step form-step-active">
            <div class="input-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" required />
            </div>
            <div class="input-group">
              <label for="position">Position</label>
              <input type="text" name="position" id="position" required />
            </div>
            <div class="">
              <a class="btn btn-next width-50 ml-auto">Next</a>
            </div>
          </div>
          <div class="form-step">
            <div class="input-group">
              <label for="phone">Phone</label>
              <input type="text" name="phone" id="phone" />
            </div>
            <div class="input-group">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="btns-group">
              <a  class="btn btn-prev">Previous</a>
              <a  class="btn btn-next">Next</a>
            </div>
          </div>
          <div class="form-step">
            <div class="input-group">
              <label for="dob">Date of Birth</label>
              <input type="date" name="dob" id="dob" />
            </div>
            <div class="input-group">
              <label for="ID">National ID</label>
              <input type="number" name="ID" id="ID" />
            </div>
            <div class="btns-group">
              <a  class="btn btn-prev">Previous</a>
              <a  class="btn btn-next">Next</a>
            </div>
          </div>
          <div class="form-step">
            <div class="input-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" />
            </div>
            <div class="input-group">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                name="confirmPassword"
                id="confirmPassword"
              />
            </div>
            <div class="btns-group">
              <a  class="btn btn-prev">Previous</a>
              <input type="submit" value="Submit" class="btn" />
            </div>
          </div>
          <h6 style="padding-top: 0.2cm; padding-left: 11.2cm;" class="text" >Already Registered..then <a routerLink="/Sign In">Sign In</a>!!</h6>
        </form>

       
   
   


