<div class="container-fluid login-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding-bottom: 2cm;">
  <div class="container">
    <!-- <h1 class="display-3 mb-4 animated slideInDown">Login</h1> -->
  </div>
</div>
<div class="container-fluid">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" [class.active]="choice==1" (click)="ChangeChoice(1)">My Policies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="choice==2" (click)="ChangeChoice(2)">Mature Policies</a>
    </li>
  </ul>
  <div [class.hidden]="choice!=1">
  </div>
  <div class="container-fluid" [class.hidden]="choice!=2">
  </div>
