<div class="container-fluid login-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding-bottom: 2cm;">
  <div class="container">
    <!-- <h1 class="display-3 mb-4 animated slideInDown">Login</h1> -->
  </div>
</div>
<div class="container my-5" style="height: 400px; overflow-y: scroll;">
  <h1 class="mb-3">Policies</h1>
  <table class="table table-dark" *ngIf="!cpolicies else nocpolicy">
    <thead>
      <tr>
        <th>Sl.No</th>
        <th>Policy Name</th>
        <th>Client Name</th>
        <th>Policy Amount</th>
        <th>Start Date</th>
        <th>Expiry Date</th>
        <th>Pending Turns</th>
        <th>Premium Amount</th>

        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cpolicy of cpolicies">
        <td>{{ i }}</td>
        <td>{{ cpolicy.policyTermId }}</td>
        <td>{{ cpolicy.clientId }}</td>
        <td>{{ cpolicy.policyTermId}}</td>
        <td>{{ cpolicy.startDate }}</td>
        <td>{{ cpolicy.expDate }}</td>
        <td>{{ cpolicy.counter }}</td>
        <td>{{ cpolicy.policyTermId }}</td>
        <td *ngIf="cpolicy.status!=0"><a class="btn btn-primary" (click)="ChangeStatus(1,cpolicy.clientPolicyId)">Accept</a></td>
        <td *ngIf="cpolicy.status!=1"><a class="btn btn-danger" (click)="ChangeStatus(2,cpolicy.clientPolicyId)">Decline</a></td>
      </tr>
    </tbody>
  </table>
  <ng-template #nocpolicy>
    <p>No Client Policy Found With Your Signature</p>
  </ng-template>

</div>
