<div class="container-fluid login-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding-bottom: 2cm;">
  <div class="container">
    <!-- <h1 class="display-3 mb-4 animated slideInDown">Login</h1> -->
  </div>
</div>
<div class="container-fluid">
  <ul class="nav nav-tabs" style="padding-left: 35%;">
    <li class="nav-item">
      <a class="nav-link" [class.active]="choice==1" (click)="ChangeChoice(1)">Client Deaths</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="choice==2" (click)="ChangeChoice(2)">Maturity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="choice==3" (click)="ChangeChoice(3)">Premium Penalty</a>
    </li>
  </ul>
  <div [class.hidden]="choice!=1">
    <div class="container my-5">
      <h1 class="mb-3">Client Deaths</h1>
      <table class="table table-dark" *ngIf="cpolicies&&cpolicies.length && dataLoaded else nocpolicy">
        <thead>
          <tr>
            <th>Client Policy ID</th>
            <th>Client Name</th>
            <th>Start Date</th>
            <th>Expiry Date</th>
            <th>Remaining Turns</th>
            <th>Policy Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cpolicy of cpolicies">
            <td>{{ cpolicy.clientPolicyId }}</td>
            <td>{{ ReadClientName(cpolicy.clientId) }}</td>
            <td>{{ cpolicy.startDate }}</td>
            <td>{{ cpolicy.expDate}}</td>
            <td>{{ cpolicy.counter }} of {{ ReadTotalTurns(cpolicy.policyTermId) }}</td>
            <td>{{ ReadPolicyAmount(cpolicy.policyTermId) }}</td>
            <td>
              <a *ngIf="cpolicy.status == 1" class="btn btn-danger" (click)="regClientDeath(cpolicy.clientPolicyId)">Register Client Death</a>
              <button *ngIf="cpolicy.status == 0" disabled class="btn btn-primary">Inactive</button>
              <button *ngIf="cpolicy.status == 2" disabled class="btn btn-danger">Blocked</button>
              <button *ngIf="cpolicy.status == 3" disabled class="btn btn-primary">Matured</button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #nocpolicy>
        <p>No Eligible ClientPolicies Found</p>
      </ng-template>
    </div>
    <p style="text-align: center; color: red; stroke-width: 1.2px;">Note: If Remaining Terms is Higher than Total Terms,a Penalty is Imposed(Each Penalty Impose will Increase Remaining Terms by two more)</p>
  </div>
  <div [class.hidden]="choice!=2">
    <div class="container my-5">
      <h1 class="mb-3">Maturities</h1>
      <table class="table table-dark" *ngIf="cpolicies&&cpolicies.length&& dataLoaded else nocpolicy">
        <thead>
          <tr>
            <th>Client Policy ID</th>
            <th>Client Name</th>
            <th>Start Date</th>
            <th>Expiry Date</th>
            <th>Policy Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cpolicy of cpolicies">
            <td>{{ cpolicy.clientPolicyId }}</td>
            <td>{{ ReadClientName(cpolicy.clientId) }}</td>
            <td>{{ cpolicy.startDate }}</td>
            <td>{{ cpolicy.expDate}}</td>
            <td>{{ ReadPolicyAmount(cpolicy.policyTermId) }}</td>
            <td>
              <button *ngIf="cpolicy.status == 0" disabled class="btn btn-primary">Inactive</button>
              <a class="btn btn-primary" *ngIf="cpolicy.counter == 0 && cpolicy.status == 1" (click)="regMaturity(cpolicy)">Register Mature</a>
              <button disabled class="btn btn-danger" *ngIf="cpolicy.counter != 0 && cpolicy.status == 1">Terms Not Satisfied</button>
              <button *ngIf="cpolicy.status == 2" disabled class="btn btn-danger">Blocked</button>
              <button *ngIf="cpolicy.status == 3" disabled class="btn btn-primary">Matured</button>
            </td>
            <!-- <td *ngIf="client.status!=1">Accept</td>
        <td *ngIf="client.status==1">Decline</td> -->
          </tr>
        </tbody>
      </table>
      <ng-template #nocpolicy>
        <p>No Eligible ClientPolicies Found</p>
      </ng-template>
    </div>
  </div>
  <div [class.hidden]="choice!=3">
    <div class="container my-5">
      <h1 class="mb-3">Premium Penalty</h1>
      <table class="table table-dark" *ngIf="cpolicies&&cpolicies.length&& dataLoaded else nocpolicy">
        <thead>
          <tr>
            <th>Client Policy ID</th>
            <th>Client Name</th>
            <th>Start Date</th>
            <th>Expiry Date</th>
            <th>Remaining Turns</th>
            <th>Policy Amount</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cpolicy of cpolicies">
            <td>{{ cpolicy.clientPolicyId }}</td>
            <td>{{ ReadClientName(cpolicy.clientId) }}</td>
            <td>{{ cpolicy.startDate }}</td>
            <td>{{ cpolicy.expDate}}</td>
            <td>{{ cpolicy.counter }} of {{ ReadTotalTurns(cpolicy.policyTermId) }}</td>
            <td>{{ ReadPolicyAmount(cpolicy.policyTermId) }}</td>
            <td>
              <button *ngIf="cpolicy.status == 0" disabled class="btn btn-primary">Inactive</button>
              <a *ngIf="cpolicy.status == 1" class="btn btn-danger" (click)="regPenalty(cpolicy)">Impose Penalty</a>
              <button *ngIf="cpolicy.status == 2" disabled class="btn btn-danger">Blocked</button>
              <button *ngIf="cpolicy.status == 3" disabled class="btn btn-primary">Matured</button>
            </td>

            <!-- <td *ngIf="client.status!=1">Accept</td>
        <td *ngIf="client.status==1">Decline</td> -->
          </tr>
        </tbody>
      </table>
      <ng-template #nocpolicy>
        <p>No Eligible ClientPolicies Found</p>
      </ng-template>
    </div>
  </div>
  <div class="container-fluid login-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding-bottom: 2cm;">
    <div class="container">
      <!-- <h1 class="display-3 mb-4 animated slideInDown">Login</h1> -->
    </div>
  </div>
