<div class="container-fluid login-header mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding-bottom: 2cm;">
  <div class="container">
    <!-- <h1 class="display-3 mb-4 animated slideInDown">Login</h1> -->
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="container btn btn-primary" style="width: fit-content; position: relative;"><i
    routerLink="/Client/Policies" class='fas fa-arrow-left' style='font-size:24px'></i></div>
<div class="container-fluid" style="width: fit-content;">
  <div class="card">
    <br>
    <div class="card-image">
      <img src="assets/img/insurance.png" alt=""><a href="https://www.flaticon.com/free-icons/privacy-policy"
        title="privacy policy icons">Privacy policy icons created by Pixel perfect - Flaticon</a>
    </div>
    <div class="card-details" *ngIf="policy!=null">
      <h2>{{policy.policyName}}</h2>
      <hr>
      <div class="row">
        <div class="col">
          <p><label>Policy Type :</label>> {{ReadTypeName(policy.policytypeId)}}</p>
          <p><label>Provider : </label>{{ReadCompanyName(policy.companyId)}}</p>
          <p><label>Time Period : </label>{{policy.timePeriod}} Months</p>
          <p><label>Policy Amount : </label>₹{{policy.policyAmount}}</p>
          <p *ngIf="showOverlay">
            <input type="text" placeholder="Agent Referral Code" #referral>&nbsp;
            <a *ngIf="!con" class="btn btn-primary" (click)="ValidateReferral(referral.value)">></a>
          </p>
        </div>
        <div class="col">
          <div class="card-details" *ngIf="con">
            <form [formGroup]="cpform" (submit)="submit()">
              <p>
                <label>Policy Terms:</label>
                <select formControlName="pterm" (change)="set()">
                  <option *ngFor="let pterm of pterms" [value]="pterm.policyTermId">{{pterm.period}} Months -
                    {{pterm.terms}} Terms</option>
                </select>
              </p>
              <p>
                <label>Nominee :</label>
                <select formControlName="nominee">
                  <option *ngFor="let nominee of nominees" [value]="nominee.nomineeId">{{nominee.nomineeName}}</option>
                </select>
              </p>
              <p>
                <label for="">Start Date:</label>
                <input type="text" formControlName="startdate" readonly>
              </p>
              <p>
               <label>Expiry Date:</label>
                <input type="text" formControlName="expdate" readonly>
              </p>
              <p>
               <label>No of Terms :</label>
                <input type="number" formControlName="counter" readonly>
              </p>
              <button type="submit" class="button btn btn-primary" [disabled]="!this.cpform.valid">Submit</button>
            </form>
          </div>
          <button (click)="toggleOverlay()" *ngIf="!showOverlay" class="button btn btn-primary">Proceed</button>
        </div>
      </div>
    </div>
  </div>

</div>
