.parent {
  position: relative;
}

.parent .parent-header:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  left: 15px;
  top: 35px;
  border-left: 1px dotted black;
}

.child {
  padding-left: 30px;
  position: relative;
}

.child .child-header:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 15px;
  top: 0px;
  border-left: 1px dotted black;
}


.child .child-header:after {
  content: '';
  height: 1px;
  width: 15px;
  position: absolute;
  left: 15px;
  top: 15px;
  border-top: 1px dotted black;
}

.child-header {
  margin-top:0;
  padding-top:25px;
}

.child:last-child .child-header:before {
  height: 35px;
}
